
.menu {
position: fixed;
}
.header {
position: relative;
width: 100%;
height: 500px; /* Limit H1 Background Height */
overflow: hidden; /* Limit H1 Background Height */
background-image: url("../images/iot.jpg");
background-position: center center;
background-repeat: no-repeat;
text-decoration: none;
}
.header-in {
position: absolute;
top: 50%;
left: 30%;
margin-right: -50%;
transform: translate(-50%, -50%);
}
.header h1 {
color: white;
font-size: 80px;
}
.header p {
color: rgb(190, 190, 190);
font-size: 15px;
}
.header a {
color: white;
transition: color 0.3s ease 0s;
text-decoration: none;
}
.header a:hover {
color: #39A1FF;
}